<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonitorServices.Entities.Properties.Settings.ConnectionString"
            connectionString="Data Source=RVL;User ID=ITUSER;Password=ituserpwd;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="MonitorServices.Entities.Properties.Settings.ConnectionString1"
            connectionString="Data Source=RVL;User ID=ditta1;Password=ditta1;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>